
.user-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray-background);
    height: 14%;
}

.user-info {
    display: flex;
}

.user-icons{
    display: flex;
}

.video-dropdown{
    border: 1px solid var(--medium-gray-1);
}

.user-name{
    font-size: 16px;
}
/*video recorder A2ACB2
/*magnifying and 3 dots 54656F, 54656F
/*user name 111b21
/*user status 667781
/* user avatar DFE5E7
