.user-box {
    display: flex;
    justify-content: space-between;
    background-color: var(--light-gray-background);
    height: 9.5%;
    padding: 0px 27px 5px 20px;
}

.user-icons{
    display: flex;
    align-items: center;
    gap: 27px;
}

.video-dropdown{
    /*Colors*/
    background-color: inherit;
    border: 1px solid var(--medium-gray-1);

    /*Display*/
    display: flex;
    justify-content: center;
    gap: 5px;
    
    /*Others*/
    align-items: center;
    height: 63%;
    width: 65px;
    border-radius: 17px;
}

.video-dropdown:hover{
    cursor: pointer;
}

.video-icon{
    font-size: 1.3em;
}
.arrow-down-icon{
    font-size: 0.6em;
}
.search-icon{
    font-size: 1.2em;
}

.vertical-dots-icon{
    font-size: 1.4em;
}


/*video recorder A2ACB2
/*magnifying and 3 dots 54656F, 54656F
/*user name 111b21
/*user status 667781
/* user avatar DFE5E7
