/* APP CSS */
/*Variables*/
body {
    --light-gray-background: #F0F2F5;
    --light-gray-1: #DFE5E7;
    --medium-gray-1: #A2ACB2;
    --dark-gray-1: #54656F;
    --dark-gray-2: #3B4A54;
    --dark-font-color: #111B21;

}

*{
    color: var(--dark-font-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}


.comparison{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}

.screenshot img{
    background-color: #F0F2F5;
    width: 860px;
}

.icon-1{
    color: var(--dark-gray-1);
}

.icon-2{
    color: var(--dark-gray-2);

}

.light-icon-1{
    color: var(--light-gray-1);
}

.medium-icon-1{
    color: var(--medium-gray-1);
}