/* APP CSS */
/*Variables*/
body {
    --light-gray-background: #F0F2F5;
    --dark-gray-icon-color-1: #54656F;
    --dark-gray-icon-color-2: #3B4A54;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}


.comparison{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}

.screenshot img{
    background-color: #F0F2F5;
    width: 860px;
}
